.app {
  width: 600px;
  margin: 0 auto;
  height: calc(100vh-10px);
}

.chatHistory {
  min-height: 500px;
  height: calc(100vh - 400px);
  overflow-y: scroll;
  border: solid 1px black;
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  padding: 10px;
}
.chatLine {
  margin-bottom: 1em;
}

.prompt {
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: initial;
}

.prompt-input {
  width: 600px;
  height: 200px;
  padding: 10px;
}

.submit {
  padding-top: 10px;
  text-align: right;
}